{% extends "register/base.html" %}


{% block title %}
    ویرایش پروفایل
{% endblock title %}


{% block maincontent %}

    <form action="" method="POST">
        {% csrf_token %}
        
        <div class="mainborder">
            <div class="row">
                <div class="col-md-10">
                    <div>
                        <p class="border"> <span class="title">نام : </span> {{ userEditForm.first_name }} </p>
                        <p class="border"> <span class="title">نام خانوادگی : </span> {{ userEditForm.last_name }} </p>
                        <p class="border"> <span class="title">ایمیل : </span> {{ userEditForm.email }} </p>
                        <p class="border"> <span class="title">جنسیت : </span> {{ profileEditForm.gender }} </p>
                    </div>
                </div>
            
            </div>
            <div class="bottonborder">
                <button type="submit" class="btn btn-success">ذخیره</button>
            </div>
        </div>
    </form>
    
{% endblock maincontent %}


